.form-formpasajero {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  height: auto;
  margin-top: 3rem;
}

.label-formpasajero {
  display: block;
  font-weight: 500;
  padding-top: 1rem;
  cursor: pointer;
}
.order-form{
  display:flex;
  flex-direction:column;
}

.input-text {
  width: 80%;
  background-color: #fff;
  border: 3px solid;
  border-radius: 3px;
  height: 45px;
  line-height: 45px;
  padding: 0 40px 0 10px;
  transition: 0.3s ease all;
  border-radius: 20px;
  border-radius: 58px;
  font-size: medium;
}
.input-text-detalle{
    width: 27%;
    background-color: #fff;
    border: 3px solid;
    height: 8em;
    line-height: 45px;
    padding: 0 40px 0 10px;
    transition: 0.3s ease all;
    border-radius: 3em;
    font-size: medium;
    margin-bottom: 1em
}
.form-formpasajero input:focus {
  border: 3px solid #9252ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}
.input-text-detalle input:focus {
  border: 3px solid #9252ff;
  outline: none;
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 0.4);
}

.checkbox-formpasajero {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.checkbox-formpasajero div {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
.label-detalles{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn-formpasajero {
  height: 3rem;
  line-height: 45px;
  width: 15%;
  background-color: #9252ff;
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.1s easy all;
  text-transform: uppercase;
}

.btn-formpasajero:hover {
  box-shadow: 3px 0px 30px rgba(163, 163, 163, 1);
}

.btn-formpasajero-disable {
  height: 3rem;
  line-height: 45px;
  width: 15%;
  background: rgb(154, 153, 153);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  transition: 0.1s easy all;
  text-transform: uppercase;
}

.btn-registrar-formpasajero {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

.Pasajere__checkboxes {
  display: flex;
  flex-direction: column;
}

.Pasajere__mycheckbox {
  font-size: 20px;
  color: white;
  margin-top: 3rem;
}
.Pasajere__mycheckbox input:checked ~ span::after {
  background: rgb(12, 167, 12);
  transform: scale(0.8) translate(31px);
}

.Pasajere__mycheckbox input {
  display: none;
}

.Pasajere__mycheckbox span {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background: rgb(187, 186, 186);
  cursor: pointer;
  box-shadow: inset 0px 0px 2px rgb(15, 15, 15);
  position: relative;
  top: 0.3rem;
  margin-right: 5rem;
  margin-left: 1rem;
}

.Pasajere__mycheckbox span::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  transform: scale(0.8);
  border-radius: 25px;
  background: rgb(248, 22, 22);
  transition: 0.5s;
  box-shadow: inset 0px 0px 2px rgb(37, 37, 37);
}
