#general-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}
.card-home {
  margin: 1em;
}
