.container {
  display: flex;
  flex-direction: column;
}

.wallpaper {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: -9999;
}

.stretch {
  width: 100%;
  height: 100%;
}
