.container-cardviaje {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}
#nueva-clase {
  background-color: white;
  border: solid 0.1em black;
  border-radius: 1em;
  width: 100%;
  height: auto;
  margin-top: 0.5em;
}
/* #nueva-clase:{
  background-color:red  ;
  height: 20em;
} */
#nueva-clase:hover {
  transform: translateY(-0.1em);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.2);
  transition: 0.3s ease-in-out;
}
.parent {
  display: grid;
  grid-template-columns: 0.1fr repeat(3, 1fr) 0.1fr;
  grid-template-rows: 0.1fr repeat(3, 1fr) 0.1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  width: 100%;
  height: auto;
}
.steering {
  width: 100%;
  height: 1.5em;
}
.div1 {
  grid-area: 2 / 2 / 5 / 3;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.div1 .info-personal-card {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
}
.div1 .puntuacion {
  display: flex;
  justify-content: center;
}
.div2 {
  grid-area: 2 / 3 / 5 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.div2 i svg {
  width: auto;
  height: 2.3em;
}
.div3 {
  grid-area: 2 / 4 / 5 / 5;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.div3 svg {
  display: block;
  width: 100%;
  height: 1.5em;
}
.info-personal-card {
  display: flex;
  flex-direction: column;
}
.div1 img {
  border-radius: 50%;
  width: 6em;
}
.steering {
  width: 100%;
  height: 1.5em;
}

@media screen and (max-width: 900px) {
  .parent {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #nueva-clase > div > svg {
    margin-left: -45%;
  }
  #nueva-clase > div > div.div1 > div > a {
    font-size: 2rem;
  }
  #nueva-clase > div > div.div1 {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
  #nueva-clase > div > div.div2 {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  #nueva-clase > div > div.div3 {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 425px) {
  .parent {
    display: flex;
    flex-direction: column;
    height: auto;
  }
  #nueva-clase > div > svg {
    margin-left: -45%;
  }
  #nueva-clase > div > div.div1 > div > a {
    font-size: 2rem;
  }
  #nueva-clase > div > div.div1 {
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-evenly;
  }
  #nueva-clase > div > div.div2 {
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
  }
  #nueva-clase > div > div.div3 {
    margin-bottom: 2rem;
  }
}
