.contenedor-NavBar {
  display: flex;
  width: 100%;
  height: 8rem;
  background-color: blueviolet;
  flex-direction: column;
  border: 2px solid black;
}

.titulo-NavBar h1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
}

.titulo-NavBar img {
  width: 4rem;
  height: 4rem;
}

.contenedor-titulo {
  display: flex;
  width: 100%;
  align-items: center;
  height: 9rem;
  margin-left: -7rem;
  justify-content: space-between;
}

.contenedor-titulo h1 {
  font-size: 3rem;
  margin-left: 10rem;
}

.panel-botones {
  display: flex;
  width: 15rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
#root
  > div
  > div.contenedor-NavBar
  > div
  > div.panel-botones
  > button:nth-child(1)
  > a:hover {
  color: white;
}

#root
  > div
  > div.contenedor-NavBar
  > div
  > div.panel-botones
  > button:nth-child(2)
  > a:hover {
  color: white;
}

.btn-outline-primary {
  color: white;
  border-color: white;
}

.btn:hover {
  color: white;
}

.IniciarSesion-y-Registrar {
  display: flex;
  justify-content: space-between;
  width: 15rem;
}

.info-usuario {
  display: flex;
  align-items: center;
  padding-left: 5rem;
}
.info-usuario h3 {
  font-size: 1.5rem;
  color: white;
}

.info-usuario img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

#account-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  left: 1060px;
}

#account-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
  > ul
  > a {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

#account-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
  > ul {
  width: 10rem;
}

#account-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
  > ul
  > a
  > li {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

#account-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
  > ul
  > li:nth-child(3) {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

#account-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation0.MuiPopover-paper.css-aqqxug-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper
  > ul
  > a
  > li
  > img {
  border-radius: 50%;
}

.navBar-Responsive {
  display: none;
}
#long-menu
  > div.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper.css-1poimk-MuiPaper-root-MuiMenu-paper-MuiPaper-root-MuiPopover-paper {
  background-color: blueviolet;
}

@media screen and (max-width: 958px) {
  .navBar-Completa {
    display: none;
  }
  .navBar-Responsive {
    display: block;
  }
}

@media screen and (max-width: 758px) {
  .navBar-Completa {
    display: none;
  }
  .navBar-Responsive {
    display: block;
  }
  .contenedor-titulo {
    display: flex;
    justify-content: space-evenly;
    width: 120%;
  }
  .contenedor-titulo h1 {
    font-size: 2rem;
  }
  .titulo-NavBar img {
    width: 3rem;
    height: 3rem;
  }
  .info-usuario {
    padding-left: 0;
  }
  .info-usuario h3 {
    display: none;
  }
  .panel-botones {
    display: flex;
    flex-direction: column;
  }
  #root
    > div
    > div
    > div.contenedor-NavBar
    > div
    > div.panel-botones
    > a:nth-child(1) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 659px) {
  .navBar-Completa {
    display: none;
  }
  .navBar-Responsive {
    display: block;
  }
  .contenedor-titulo {
    display: flex;
    justify-content: space-evenly;
    width: 120%;
  }
  .contenedor-titulo h1 {
    font-size: 1.5rem;
  }
  .panel-botones {
    width: 5rem;
  }
  .titulo-NavBar img {
    width: 2rem;
    height: 2rem;
  }
  .info-usuario {
    padding-left: 0;
  }
  .info-usuario h3 {
    display: none;
  }
  .panel-botones {
    display: flex;
    flex-direction: column;
  }
  #root
    > div
    > div
    > div.contenedor-NavBar
    > div
    > div.panel-botones
    > a:nth-child(1) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 502px) {
  .navBar-Completa {
    display: none;
  }
  .navBar-Responsive {
    display: block;
    width: 100%;
  }
  .contenedor-titulo {
    display: flex;
    justify-content: space-evenly;
    width: 120%;
  }
  .contenedor-titulo h1 {
    font-size: 1.5rem;
    margin-left: 8rem;
  }
  .panel-botones {
    width: 5rem;
  }
  .titulo-NavBar img {
    width: 2rem;
    height: 2rem;
  }
  .info-usuario {
    padding-left: 0;
  }
  .info-usuario h3 {
    display: none;
  }
  .panel-botones {
    display: flex;
    flex-direction: column;
  }
  #root
    > div
    > div
    > div.contenedor-NavBar
    > div
    > div.panel-botones
    > a:nth-child(1) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 425px) {
  .navBar-Completa {
    display: none;
  }
  .navBar-Responsive {
    display: block;
  }
  .contenedor-NavBar {
    width: 109%;
  }
  .contenedor-titulo {
    display: flex;
    justify-content: space-evenly;
    width: 120%;
  }
  .contenedor-titulo h1 {
    font-size: 1.5rem;
  }
  .panel-botones {
    width: 5rem;
  }
  .titulo-NavBar img {
    width: 2rem;
    height: 2rem;
  }
  .info-usuario {
    padding-left: 0;
  }
  .info-usuario h3 {
    display: none;
  }
  .panel-botones {
    display: flex;
    flex-direction: column;
  }
  #root
    > div
    > div
    > div.contenedor-NavBar
    > div
    > div.panel-botones
    > a:nth-child(1) {
    margin-bottom: 1rem;
  }
}
