.font-mono {
  height: 100%;
}
.asientos {
  margin-top: 0%;
  width: 21rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  padding: 1rem;
  background-color: rgb(116, 20, 207);
}

.checkboxes {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.mycheckbox {
  font-size: 20px;
  color: white;
  margin-bottom: 2rem;
}
.mycheckbox input:checked ~ span::after {
  background: rgb(12, 167, 12);
  transform: scale(0.8) translate(31px);
}

.mycheckbox input {
  display: none;
}

.mycheckbox span {
  display: inline-block;
  width: 50px;
  height: 25px;
  border-radius: 25px;
  background: rgb(187, 186, 186);
  cursor: pointer;
  box-shadow: inset 0px 0px 2px rgb(15, 15, 15);
  position: relative;
  top: 0.3rem;
  margin-right: 5rem;
  margin-left: 1rem;
}

.mycheckbox span::after {
  content: "";
  display: block;
  width: 25px;
  height: 25px;
  transform: scale(0.8);
  border-radius: 25px;
  background: rgb(248, 22, 22);
  transition: 0.5s;
  box-shadow: inset 0px 0px 2px rgb(37, 37, 37);
}

.select {
  font-size: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 20%;
  height: 50px;
  background-color: #fdf4ff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 8px;
  border: none;
  text-align: center;
}

.select:focus {
  border: solid 0.01px rgb(161, 120, 120);
}

.aplicar-limpiar {
  display: flex;
  width: 19rem;
  height: 6rem;
  align-items: center;
  background-color: rgb(116, 20, 207);
  justify-content: space-around;
}
